/* Estilos gerais para a página */
body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #110043; /* Cor de fundo escura */
    color: #110043; /* Cor de texto clara */
    flex-direction: column;
}

/* Estilos para o cabeçalho */
header {
    width: 100vw;
    background-color: #007bff; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    height: 5vh;
}

header h1 {
    margin: 0; /* Remove a margem padrão */
}

/* Estilos para o rodapé */
footer {
    background-color: #333; /* Cor de fundo */
    color: white; /* Cor do texto */
    text-align: center; /* Alinhamento do texto */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
}

button {
    background-color: #F3593B; /* Cor dos botões */
    color: white;
    padding: 5vw 10vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 5vw;
    margin-right: 10px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c1462d; /* Cor de hover dos botões */
}

/* Estilos para a lista de metadados */
ul {
    list-style-type: none;
    padding: 0;
    margin: 1vw;
}

.metadata-item {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.metadata-item img {
    width: 30vw; 
    margin-right: 20px;
    border-radius: 5px;
    object-fit: cover; /* Garante que a imagem se ajuste ao espaço */
}

.metadata-info {
    flex-grow: 1;
    font-size: 2em;
}

.metadata-info strong {
    color: #110043; /* Cor para destaques */
    margin-right: 5px;
}

select, input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}


.custom-button, button {
    background-color: #007bff; /* Cor de fundo azul */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.custom-button:hover, button:hover {
    background-color: #0056b3; /* Cor de hover azul mais escuro */
}

#botao{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}


#metadataList {
    max-height: 75vh;
    overflow-y: auto; /* Permite o scroll se o conteúdo exceder 400px */
}

