body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #110043; /* Cor de fundo escura */
    color: #110043; /* Cor de texto clara */
    flex-direction: column;
}


header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: whitesmoke; 
    color: #110043;
    padding: 20px;
}

.corner {
    flex: 1 1 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.top-left, .bottom-left {
    order: 0; /* Primeiro na ordem */
    height: 6vh;
}

.top-right, .bottom-right {
    order: 2; /* Último na ordem */
    height: 6vh
}

header h1 {
    margin: 0; 
}

/* Estilos para o rodapé */
footer {
    background-color: #333; /* Cor de fundo */
    color: white; /* Cor do texto */
    text-align: center; /* Alinhamento do texto */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 1vw;
}

.metadata-item {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.metadata-item img {
    width: 30vw; 
    margin-right: 20px;
    border-radius: 5px;
    object-fit: cover; /* Garante que a imagem se ajuste ao espaço */
}

.metadata-info {
    flex-grow: 1;
    font-size: 2em;
}

.metadata-info strong {
    color: #110043; /* Cor para destaques */
    margin-right: 5px;
}

select, input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}


.custom-button, button {
    background-color: white; 
    color: #110043;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 5vw;
    height: 7vh;
}

.custom-button:hover, button:hover {
    background-color: #0056b3; /* Cor de hover azul mais escuro */
}

#botao{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}


#metadataList {
    max-height: 75vh;
    overflow-y: auto; 
}

/* Estilos adicionais para botões com imagens */
.word-button, .kml-button, .excel-button, .json-button {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border: none;
    cursor: pointer;
}

/* Definições de imagens específicas para cada botão */
.word-button {
    background-image: url('word.png');
}

.kml-button {
    background-image: url('google-earth.png');
}

.excel-button {
    background-image: url('excel.png');
}

.json-button {
    background-image: url('json-file.png');
}

#upload-label {
    background-color: #007bff; 
    color: white; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s, color 0.3s; 
    display: inline-block; 
    text-align: center; 
    margin: 10px 0; 
    width: 50%;
}


#upload-label:hover {
    background-color: #0056b3; 
    color: #fff; 
}


#upload-label:focus {
    box-shadow: 0 0 0 2px #0056b3; 
}


.custom-button-upload{
    width: 50%;
}

.itemup{
    width: 100vw;
    display: flex;
    justify-content: center;
}